torch>=2.0.0
torchvision>=0.15.0
transformers==4.48.0
xtuner==0.1.23
pandas
openpyxl
xlsxwriter
decord
moviepy==1.0.3
opencv-python
sentencepiece
peft
mmengine
datasets
timm
einops
scipy
scikit-image
